<!DOCTYPE html>
<html>
<head>
<title>PlaytimeJumpers</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<div id="main-content">
  <body>
  <header>
    <div id="banner">
      <%= image_tag("banner.png", alt: "Playtime Jumpers") %>
    </div>
    <div id="nav">
    <ul>
      <li>Home</li>
      <li>Bounce Houses</li>
      <li>Contact</li>
      <li>Order</li>
      <li>FAQ</li>
    </ul>
  </div>
  </header>

  <%= yield %>

  </body>
</div>
</html>
